<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1>TeLlevoAPP</h1>
      <h6>Alumnos Duoc UC</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center ion-no-border">
    <br> <br>
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input label="Username" labelPlacement="floating"
      minlength="3" maxlength="8"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" labelPlacement="floating"
      type="password" minlength="4" maxlength="4"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" fill="outline" #btnLogin>
    Ingresar
  </ion-button>
</ion-content>
